.navbar {
  background-color: #54dc54;
  height: 74px;
  width: 100vw;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  height: 75px;
  background-color: #54dc54;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  position: sticky;
  top: 0;
  z-index: 5;
}
